node_modules/
dist
.DS_Store
.idea
.yalc
lerna-debug.log
.nx

# Packages
packages/*/node_modules/
packages/*/dist/
packages/*/bundle/

# Playground
playground/*/node_modules/
playground/*/yalc.lock
playground/react-example-customised/
playground/*/bundle/

#Tests
packages/tests-e2e/test-results
packages/tests-e2e/playwright-report
packages/tests-e2e/blob-report
packages/tests-e2e/all-blob-reports
packages/tests-e2e/playwright/.cach/