node_modules/
dist

.DS_Store
.idea
.yalc
.github
.vercel

docs

packages/*/node_modules/
packages/*/dist/
packages/web-core/src/api
packages/web-core/openapi/

playground/*/node_modules/
playground/*/package-lock.json
playground/*/yalc.lock
playground/*/build/
playground/connect-next/.next

examples/*/node_modules/
examples/*/package-lock.json
examples/*/yalc.lock
examples/*/build/
examples/*/dist/

/.nx/cache
/.nx/workspace-data
