node_modules/
dist

.DS_Store
.idea
.yalc
.github
.vercel

docs

packages/*/node_modules/
packages/*/dist/
packages/web-core/src/api
packages/web-core/openapi/
playground/*/node_modules/
playground/*/yalc.lock
playground/*/build

examples/*
