node_modules/
dist

.DS_Store
.idea
.yalc
.github
.vercel

docs

packages/*/node_modules/
packages/*/dist/
packages/web-core/src/api
playground/*/node_modules/
playground/*/yalc.lock
playground/*/build

examples/*
