@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './variables.css';
@import './themes/emerald-funk.css';

.cb-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  background-color: var(--cb-white);
  box-shadow: 0px 11.478px 28.694px 2.296px rgba(0, 0, 0, 0.25);
  border-radius: var(--cb-border-radius-lg);
  box-sizing: content-box;
  padding: 0;
}

.cb-container-body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
}

.cb-form {
  display: flex;
  flex-direction: column;
}

.cb-signup-form-submit-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cb-primary-text-color {
  color: var(--cb-text-primary-color);
}

.cb-secondary-text-color {
  color: var(--cb-text-secondary-color);
}

.cb-header-text-color {
  color: var(--cb-header-text-color);
}

.cb-script-text-color {
  color: var(--cb-script-text-color);
}

.cb-error-text-color {
  color: var(--cb-error-text-color);
}

.cb-bold-text-weight {
  font-weight: var(--cb-font-weight-bold);
}

.cb-normal-text-weight {
  font-weight: var(--cb-font-weight-normal);
}

.cb-text-1 {
  font-family: var(--cb-secondary-font);
  font-size: var(--cb-base-font-size);
}

.cb-text-2 {
  font-family: var(--cb-secondary-font);
  font-size: calc(var(--cb-base-font-size) * 1.25);
}

.cb-text-3 {
  font-family: var(--cb-secondary-font);
  font-size: calc(var(--cb-base-font-size) * 1.5);
}

.cb-text-4 {
  font-family: var(--cb-secondary-font);
  font-size: calc(var(--cb-base-font-size) * 1.9);
}

.cb-text-5 {
  font-family: var(--cb-primary-font);
  font-size: calc(var(--cb-base-font-size) * 1.75);
}

.cb-text-6 {
  font-family: var(--cb-primary-font);
  font-size: calc(var(--cb-base-font-size) * 1.95);
}

.cb-text-7 {
  font-family: var(--cb-primary-font);
  font-size: calc(var(--cb-base-font-size) * 2.3);
}

.cb-header {
  display: block;
  text-align: center;
  word-wrap: break-word;
  margin-top: 1.5rem;
  color: var(--cb-header-text-color);
}

.cb-subheader {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--cb-header-text-color);
}

.cb-input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-self: center;
  margin-bottom: 0.75rem;
}

.cb-input-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cb-input-label-text {
  margin-top: 0.4rem;
  padding-left: 0.3rem;
  align-self: flex-start;
}

.cb-input-label-link {
  margin-top: 0.4rem;
  padding-right: 0.3rem;
  align-self: flex-end;
}

.cb-input {
  margin-top: 0.3rem;
  flex-grow: 1;
  border-radius: var(--cb-border-radius-sm);
  border: 1px solid var(--cb-border-color);
  height: var(--cb-input-field-height);
  padding-left: 0.6rem;
  justify-content: center;
  font-family: var(--cb-secondary-font);
  font-weight: var(--cb-font-weight-normal);
  background-color: var(--cb-white);
  color: var(--cb-input-text-color);
  box-sizing: border-box;
}

.cb-input:focus {
  outline: none;
  border: 1px solid var(--cb-primary-color);
}

.cb-input:disabled {
  background-color: var(--cb-input-disabled-color);
}

.cb-input-error {
  border: 1px solid var(--cb-error-text-color);
}

.cb-phone-input-field {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 0.3rem;
  flex-grow: 1;
  font-family: var(--cb-secondary-font);
  font-weight: var(--cb-font-weight-normal);
  background-color: var(--cb-white);
  color: var(--cb-text-primary-color);
  border-radius: var(--cb-border-radius-sm);
  border: 1px solid var(--cb-border-color);
  height: var(--cb-input-field-height);
  align-items: center;
}

.cb-phone-input-field-disabled {
  background-color: var(--cb-input-disabled-color);
}

.cb-phone-input-field:focus-within {
  outline: none;
  border: 1px solid var(--cb-primary-color);
}

.cb-phone-input-field.cb-input-error {
  border: 1px solid var(--cb-error-text-color);
}

.cb-phone-input-field-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  color: var(--cb-text-primary-color);
  background-color: var(--cb-box-color);
  cursor: pointer;
  gap: 0.25rem;
  align-items: center;
  border: 0px;
  padding-left: 0.8rem;
  height: 100%;
  border-top-left-radius: var(--cb-border-radius-sm);
  border-bottom-left-radius: var(--cb-border-radius-sm);
}

.cb-phone-input-field-button svg {
  width: 20px;
}

.cb-phone-input-field-button img {
  width: 1rem;
}

.cb-phone-input-field-button-disabled {
  background-color: var(--cb-input-disabled-color);
  cursor: not-allowed;
}

.cb-phone-input-field-selection {
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: var(--cb-box-color);
  top: calc(var(--cb-input-field-height) * 1.1);
  height: 250px;
  overflow-y: auto;
}

.cb-phone-input-field-selection svg {
  width: 20px;
}

.cb-phone-input-field-selection-item {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-bottom: 1px solid var(--cb-border-color);
}

.cb-phone-input-field-selection-item-selected {
  cursor: none;
  background-color: var(--cb-box-color-hover);
  color: var(--cb-primary-color);
}

.cb-phone-input-field-selection-item:hover {
  background-color: var(--cb-box-color-hover);
}

.cb-phone-input-field-input {
  flex: 4;
  border: 0px;
  height: calc(var(--cb-input-field-height) - 0.2rem);
  width: 100%;
  padding: 0 0.4rem;
  color: var(--cb-input-text-color);
  background-color: var(--cb-white);
  font-family: var(--cb-secondary-font);
  border-top-right-radius: var(--cb-border-radius-sm);
  border-bottom-right-radius: var(--cb-border-radius-sm);
}

.cb-phone-input-field-input:focus {
  outline: none;
}

.cb-phone-input-field-input:disabled {
  background-color: var(--cb-input-disabled-color);
}

.cb-phone-input-field-search {
  background-color: var(--cb-white);
  font-family: var(--cb-secondary-font);
  color: var(--cb-input-text-color);
  height: var(--cb-input-field-height);
  font-weight: var(--cb-font-weight-normal);
  border: none;
  margin-bottom: 0.5rem;
  width: 98%;
}

.cb-phone-input-field-search:focus {
  outline: none;
}

.cb-input:-webkit-autofill,
.cb-input:-webkit-autofill:hover,
.cb-input:-webkit-autofill:focus,
.cb-input:-webkit-autofill:active,
.cb-phone-input-field-input:-webkit-autofill,
.cb-phone-input-field-input:-webkit-autofill:hover,
.cb-phone-input-field-input:-webkit-autofill:focus,
.cb-phone-input-field-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--cb-white) inset;
  -webkit-text-fill-color: var(--cb-input-text-color);
}

.cb-error-message {
  display: flex;
  font-family: var(--cb-secondary-font);
  font-size: var(--cb-error-font-size);
  color: var(--cb-error-text-color);
  margin-top: 0.2rem;
  align-items: center;
  padding-left: 0.25rem;
  font-weight: var(--cb-font-weight-normal);
}

.cb-error-message-icon-container {
  flex: 1;
  height: 1.3rem;
}

.cb-error-message-icon {
  width: 1.2rem;
}

.cb-error-message-text {
  flex: 11;
  line-height: 1.2;
}

.cb-error-popup {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 2.2rem;
  margin-bottom: -0.75rem;
  background-color: var(--cb-error-popup-background-color);
  border-radius: var(--cb-border-radius-lg) var(--cb-border-radius-lg) 0 0;
}

.cb-error-popup-icon {
  flex: 1;
  margin: auto;
  width: 1.25rem;
  height: 1rem;
}

.cb-error-popup-text-container {
  flex: 11;
  line-height: 1.2rem;
}

.cb-error-popup-text {
  color: var(--cb-error-popup-text-color);
}

.cb-auth-change-section {
  margin: 0.6rem auto 1.5rem auto;
  width: 90%;
}

.cb-disclaimer {
  text-align: center;
  margin: 0.5rem 5rem 0.5rem 5rem;
  line-height: 0.75rem;
}

.cb-link {
  font-weight: var(--cb-font-weight-bold);
  text-decoration: none;
  cursor: pointer;
}

.cb-primary-link {
  color: var(--cb-primary-color);
}

.cb-primary-link:hover {
  color: var(--cb-primary-color-hover);
}

.cb-primary-link .cb-disabled {
  color: var(--cb-primary-color-disabled);
}

.cb-secondary-link {
  color: var(--cb-secondary-link-color);
}

button.cb-primary-button {
  align-self: center;
  padding: 0.6rem;
  color: var(--cb-button-text-primary-color);
  background-color: var(--cb-primary-color);
  border-radius: var(--cb-border-radius-sm);
  border: none;
  width: 90%;
  font-family: var(--cb-primary-font);
  font-weight: var(--cb-font-weight-bold);
  cursor: pointer;
  box-sizing: border-box;
  line-height: 1.25;
}

.cb-primary-button:hover,
.cb-primary-button:focus,
.cb-primary-button:active {
  background-color: var(--cb-primary-color-hover);
}

.cb-primary-button:disabled {
  background-color: var(--cb-primary-color-disabled);
}

button.cb-primary-button-error-variant {
  background-color: var(--cb-error-text-color);
}

.cb-primary-button-error-variant:hover,
.cb-primary-button-error-variant:focus,
.cb-primary-button-error-variant:active {
  background-color: #850707;
}

.cb-primary-button-error-variant:disabled {
  background-color: #f06161;
}

.cb-spinner {
  margin: auto;
  border: 0.25rem solid transparent;
  border-radius: 100%;
  animation: cb-spin-animation 0.75s linear infinite;
}

.cb-primary-button-spinner {
  border-top-color: var(--cb-button-text-primary-color);
  border-right-color: var(--cb-button-text-primary-color);
  width: calc(var(--cb-base-font-size) * 1.25 * 1.25);
  height: calc(var(--cb-base-font-size) * 1.25 * 1.25);
  box-sizing: border-box;
}

.cb-initital-loading-spinner {
  border-top-color: var(--cb-primary-color);
  border-right-color: var(--cb-primary-color);
  width: 5rem;
  height: 5rem;
  margin: 4rem auto;
}

@keyframes cb-spin-animation {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.cb-row {
  display: flex;
  flex-direction: row;
}

.cb-divider-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  align-self: center;
  width: 90%;
}

.cb-divider-line {
  flex: 1;
  height: 1px;
  background-color: var(--cb-divider-line-color);
}

.cb-divider-text {
  padding: 0 10px;
}

.cb-user-info-section {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  width: 90%;
  height: 1.9rem;
  border: 1px solid #999;
  border-radius: var(--cb-border-radius-sm);
}

.cb-user-info-section-left {
  flex: 1;
  padding-left: 0.5rem;
  height: 1rem;
}

.cb-user-info-section-left-icon {
  height: 1.1rem;
}

.cb-user-info-section-middle {
  flex: 10;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.cb-user-info-section-right {
  flex: 1;
  height: 1.2rem;
  padding-right: 0.25rem;
}

.cb-user-info-section-right-icon {
  height: 1.1rem;
  cursor: pointer;
}

.cb-edit-data-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cb-edit-data-section-header {
  margin-bottom: 1rem;
}

.cb-edit-data-section-back-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: var(--cb-font-weight-normal);
}

.cb-otp-input {
  height: 3.25rem;
  border: 1px solid var(--cb-border-color);
  border-radius: var(--cb-border-radius-sm);
  font-size: calc(var(--cb-base-font-size) * 1.25);
  text-align: center;
  font-family: var(--cb-secondary-font);
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.cb-otp-input:disabled {
  background-color: var(--cb-otp-disabled-color);
}

.cb-otp-input-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
  align-self: center;
}

.cb-pk-append {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.cb-pk-append-header {
  text-align: center;
}

.cb-pk-append-icons-section {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.cb-pk-append-icons-section-icon {
  height: 3.75rem;
}

.cb-pk-append-user-info-section {
  display: flex;
  align-items: center;
  align-self: center;
  margin: 0.75rem 0 0.3rem 0;
}

.cb-pk-append-user-info-section-edit-icon {
  height: var(--cb-base-font-size);
  cursor: pointer;
  padding-left: 0.25rem;
}

.cb-pk-append-points-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.25rem 0 1.75rem 0;
  width: 83%;
  align-self: center;
}

.cb-pk-append-points-section-point {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cb-pk-append-points-section-point-icon {
  height: 1.5rem;
  margin: auto;
  flex: 0 0 10%;
  max-width: 10%;
}

.cb-pk-append-subtext {
  margin-top: 0.25rem;
  text-align: center;
  align-self: center;
}

.cb-pk-append-buttons-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0rem 0 1rem 0;
}

.cb-pk-append-skip-button-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.cb-pk-error-bloc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.cb-pk-error-bloc-icon {
  width: 6rem;
  margin: 2rem auto 0.5rem auto;
}

.cb-pk-error-bloc-description {
  margin-bottom: 1.5rem;
  width: 90%;
  text-align: center;
}

.cb-pk-error-bloc-divider {
  width: 100%;
  margin-bottom: 0.3rem;
}

.cb-pk-error-bloc-skip-button {
  display: block;
  margin-top: 1rem;
}

.cb-pk-error-user-info-edit-section {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-align: center;
  margin-bottom: 1.25rem;
  margin-top: 1.5rem;
  width: 100%;
}

.cb-pk-appended-bloc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.cb-pk-appended-bloc-icon {
  width: 6rem;
  margin: 0.5rem auto 0.5rem auto;
}

.cb-pk-appended-bloc-description {
  margin-bottom: 2.5rem;
  text-align: center;
}

.cb-email-block {
  width: 90%;
  margin-bottom: 1.5rem;
  align-self: center;
}

.cb-email-block-header {
  display: block;
}

.cb-email-user-info-section {
  width: 100%;
  margin-top: 2.25rem;
  margin-bottom: 1.75rem;
}

.cb-email-otp-buton-group {
  align-self: center;
  margin: 2rem 0 1.25rem 0;
}

.cb-email-block-user-info-left-icon {
  width: 1.4rem;
}

.cb-email-link-buton-group {
  align-self: center;
  margin: 0.6rem 0 1.75rem 0;
}

.cb-email-links {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: space-around;
}

.cb-email-link {
  justify-content: center;
  width: 100%;
}

.cb-email-link img {
  height: 1.25rem;
}

.cb-icon-button {
  display: flex;
  gap: 0.3rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border: 1px solid var(--cb-border-color);
  border-radius: var(--cb-border-radius-sm);
  text-decoration: none;
  color: var(--cb-primary-text-color);
  background-color: var(--cb-white);
  font-family: var(--cb-secondary-font);
  cursor: pointer;
  padding-right: 0.5rem;
  padding-left: 0.3rem;
}

.cb-icon-button-with-icon-only {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border: 1px solid var(--cb-border-color);
  border-radius: var(--cb-border-radius-sm);
  text-decoration: none;
  color: var(--cb-primary-text-color);
  background-color: var(--cb-white);
  font-family: var(--cb-secondary-font);
  cursor: pointer;
  width: 5.25rem;
  line-height: 1;
}

.cb-icon-button:hover {
  background-color: var(--cb-box-color-hover);
}

.cb-icon-button-with-icon-only:hover {
  background-color: var(--cb-box-color-hover);
}

.cb-icon-button-icon img {
  height: 1.5rem;
  vertical-align: middle;
}

button.cb-email-resend-button {
  width: 100%;
  margin-top: 0.2rem;
}

.cb-email-link-success-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 1rem;
}

.cb-email-link-success-subheader {
  display: block;
  width: 75%;
}

.cb-email-link-success-icon-container {
  padding: 0.4rem 2rem;
  border: 1px solid var(--cb-border-color);
  border-radius: var(--cb-border-radius-lg);
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}

.cb-email-link-success-icon {
  height: 2.5rem;
}

.cb-email-link-error-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 0.25rem;
  width: 80%;
}

.cb-email-link-error-subheader {
  display: block;
  width: 90%;
}

.cb-email-link-error-icon-container {
  padding: 0.75rem 2.2rem;
  border-radius: var(--cb-border-radius-lg);
  border: 1px solid var(--cb-border-color);
  margin: 1rem auto;
}

.cb-email-link-error-icon {
  height: 1.75rem;
  width: 1.9rem;
}

.cb-email-link-verification-block {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 3rem;
}

.cb-email-link-verification-spinner {
  border-top-color: var(--cb-primary-color);
  border-right-color: var(--cb-primary-color);
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 1.25rem;
}

.cb-phone-otp-block {
  width: 90%;
  margin-bottom: 1.5rem;
  align-self: center;
}

.cb-phone-otp-block-header {
  display: block;
}

.cb-phone-otp-user-info-section {
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 1.75rem;
}

.cb-phone-otp-input-container {
  margin-bottom: 2rem;
}

button.cb-phone-otp-resend-button {
  width: 100%;
  margin-top: 0.2rem;
}

.cb-pk-verify {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.cb-pk-verify-header {
  text-align: center;
}

.cb-pk-verify-icons-section {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.cb-pk-verify-icons-section-icon {
  height: 3.75rem;
}

.cb-pk-verify-body-section {
  display: flex;
  flex-direction: column;
  margin: 2.5rem auto 2rem;
  gap: 0.5rem;
  width: 60%;
  text-align: center;
  align-self: center;
}

.cb-pk-verify-spinner {
  border-top-color: var(--cb-primary-color);
  border-right-color: var(--cb-primary-color);
  width: 2rem;
  height: 2rem;
  margin: 1rem auto;
}

.cb-pk-verify-fallbacks {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-self: center;
  margin: 1.25rem auto 1rem;
}

/********** Dialog / Modal **********/
.cb-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.cb-dialog-content {
  background: var(--cb-white);
  padding: 1.5rem;
  border-radius: var(--cb-border-radius-lg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 290px;
}

.cb-dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.6rem 0rem 1rem 0rem;
}

.cb-dialog-header-text {
  margin-top: 0rem;
}

.cb-dialog-body {
  margin-bottom: 2.5rem;
}

.cb-dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cb-dialog-x-button {
  cursor: pointer;
  height: 1.5rem;
}

.cb-dialog-button {
  flex: 1;
  margin: auto;
  text-align: center;
}

/********** Passkey List **********/
.cb-passkey-list-tile {
  font-size: calc(var(--cb-base-font-size) * 1.9);
  margin: 1rem 0rem 2rem 0rem;
}

.cb-passkey-list-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: var(--cb-border-radius-sm);
  border: var(--cb-passkey-list-border-color) 1px solid;
  margin: 0.5rem 0;
  padding: 1.75rem 0.5rem;
  background-color: var(--cb-white);
  line-height: 1.4;
}

.cb-passkey-list-card:hover {
  border: var(--cb-passkey-list-border-hover-color) 1px solid;
}

.cb-passkey-list-icon {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cb-passkey-list-icon-left img {
  width: 2rem;
  height: 2rem;
}

.cb-passkey-list-icon svg {
  width: 2rem;
  height: 2rem;
  fill: var(--cb-text-primary-color);
}

.cb-passkey-list-icon-right img {
  width: 2rem;
  height: 2rem;
}

.cb-passkey-list-details {
  flex: 10;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cb-passkey-list-header {
  display: flex;
  gap: 2.5rem;
}

.cb-passkey-list-header-title {
  margin: auto 0;
  font-size: calc(var(--cb-base-font-size) * 1.9);
  font-family: var(--cb-primary-font);
}

.cb-passkey-list-header-badge-section {
  margin: auto 0;
  display: flex;
  gap: 0.5rem;
}

.cb-passkey-list-header-badge-top-section {
  display: none;
}

.cb-passkey-list-header-badge {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  border-radius: var(--cb-border-radius-lg);
  border: none;
  color: var(--cb-passkey-list-badge-color);
  background-color: var(--cb-passkey-list-badge-background-color);
  padding: 0.35rem 0.7rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.cb-passkey-list-header-badge-icon {
  flex: 2;
  height: 1rem;
}

.cb-passkey-list-header-badge-text {
  flex: 10;
  font-weight: 500;
  white-space: nowrap;
  overflow: visible;
  color: var(--cb-passkey-list-badge-color);
  font-family: var(--cb-secondary-font);
  font-size: calc(var(--cb-base-font-size) * 1.25);
}

.cb-passkey-list-description-text {
  color: var(--cb-passkey-list-description-text-color);
  font-family: var(--cb-secondary-font);
  font-size: calc(var(--cb-base-font-size) * 1.5);
}

.cb-passkey-list-delete:hover {
  fill: var(--cb-error-text-color);
  cursor: pointer;
}

button.cb-passkey-list-primary-button {
  margin: 1.25rem 0;
  max-width: 225px;
  height: 2.5rem;
  display: flex;
  gap: 0.35rem;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--cb-base-font-size) * 1.9);
  font-weight: 500;
}

button.cb-passkey-list-primary-button .cb-icon {
  height: 1.6rem;
}

.cb-error-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem auto 1.5rem auto;
}

.cb-error-page-body {
  text-align: center;
  margin: 2rem auto 2.25rem auto;
}

.cb-confirm-process-abort {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cb-confirm-process-abort-container {
  padding: 0.85rem 2.3rem;
  border: 1px solid var(--cb-border-color);
  border-radius: var(--cb-border-radius-lg);
  margin-top: 0.7rem;
  margin-bottom: 2rem;
}

.cb-confirm-process-abort-icon {
  height: 1.9rem;
}

.cb-user-details-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--cb-border-color);
  border-radius: var(--cb-border-radius-lg);
  padding: 1rem 1.25rem;
}

.cb-user-details-section-header {
  margin-bottom: 1rem;
}

.cb-user-details-section-indentifier {
  width: 85%;
  align-self: self-start;
}

.cb-user-details-section-indentifiers-list {
  margin-top: 1rem;
}

.cb-user-details-section-indentifiers-list-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.cb-user-details-section-indentifiers-list-item-field {
  flex: 8;
}

.cb-user-details-section-indentifiers-list-item-field-input {
  width: 100%;
}

.cb-user-details-section-indentifiers-list-item-badge {
  padding: 0.5rem;
  flex: 1;
  margin-top: 0.75rem;
  border-radius: var(--cb-border-radius-sm);
}

.cb-user-details-section-indentifiers-list-item-badge-primary {
  background-color: var(--cb-primary-color);
  color: var(--cb-button-text-primary-color);
}

.cb-user-details-section-indentifiers-list-item-badge-secondary {
  background-color: var(--cb-text-secondary-color);
  color: var(--cb-text-primary-color);
}

.cb-user-details-section-indentifiers-list-item-badge-text {
  color: var(--cb-button-text-primary-color);
}

.cb-social-login-divider {
  margin: 0 0 0.75rem 0;
}

.cb-social-login-buttons-section {
  display: flex;
  gap: 0.75rem;
  justify-content: space-around;
  width: 90%;
  align-self: center;
  margin-bottom: 1rem;
}

.cb-social-login-buttons-section-large {
  flex-direction: column;
}

.cb-social-login-buttons-section-small {
  flex-direction: row;
}

.cb-social-login-buttton-large img {
  height: 1.25rem;
  padding-right: 0.25rem;
}

.cb-social-login-button-loading-spinner {
  border-top-color: var(--cb-primary-color);
  border-right-color: var(--cb-primary-color);
  width: 0.9rem;
  height: 0.9rem;
}

.cb-last-identifier {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: var(--cb-border-radius-sm);
  border: var(--cb-border-color) 1px solid;
  margin: 0.75rem 0;
  padding: 0.6rem 0.5rem 0.6rem 1rem;
  align-self: center;
  cursor: pointer;
  width: 83%;
}

.cb-last-identifier:hover {
  background-color: var(--cb-box-color-hover);
}

.cb-last-identifier-disabled {
  cursor: default;
  background-color: var(--cb-box-color-hover);
}

.cb-last-identifier-icon {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cb-last-identifier-icon img {
  width: 2rem;
  height: 2rem;
}

.cb-last-identifier-details {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: normal;
  gap: 0.35rem;
}

.cb-last-identifier-spinner {
  border-top-color: var(--cb-text-primary-color);
  border-right-color: var(--cb-text-primary-color);
  border-left-color: var(--cb-text-primary-color);
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}

.cb-last-identifier-skip-button {
  margin: 0.5rem auto 0.75rem auto;
  width: 90%;
}

@media screen and (max-width: 481px) {
  .cb-container {
    width: 360px;
  }

  .cb-user-details-section-indentifier {
    width: 75%;
  }

  .cb-passkey-list-tile {
    font-size: 14px;
  }

  .cb-passkey-list-card {
    gap: 0.25rem;
    padding: 1.5rem 0.5rem 0.8rem;
    line-height: 1.2;
  }

  .cb-passkey-list-details {
    gap: 0.2rem;
  }

  .cb-passkey-list-header-title {
    font-size: 14px;
  }

  .cb-passkey-list-description-text {
    font-size: 12px;
  }

  .cb-passkey-list-header-badge-section.cb-has-multiple-badges {
    display: none;
  }

  .cb-passkey-list-header-badge-top-section.cb-has-multiple-badges {
    display: flex;
    gap: 0.5rem;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0.3rem;
  }

  .cb-passkey-list-header-badge {
    gap: 0.25rem;
    padding: 0.2rem 0.5rem;
  }

  .cb-passkey-list-header-badge-icon {
    height: 0.8rem;
  }

  .cb-passkey-list-header-badge-text {
    font-size: 10px;
  }

  .cb-passkey-list-icon {
    flex: 2;
  }

  .cb-passkey-list-details {
    flex: 8;
  }

  .cb-passkey-list-icon-right img {
    width: 1.5rem;
  }

  button.cb-passkey-list-primary-button {
    font-size: 14px;
    font-weight: 500;
    max-width: 160px;
    height: 2.2rem;
  }

  button.cb-passkey-list-primary-button .cb-icon {
    height: 1.1rem;
  }
}
