.cb-input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-self: center;
  margin-bottom: 0.75rem;
}

.cb-input-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cb-input-label-text {
  margin-top: 0.4rem;
  padding-left: 0.3rem;
  align-self: flex-start;
}

.cb-input-label-link {
  margin-top: 0.4rem;
  padding-right: 0.3rem;
  align-self: flex-end;
}

.cb-input {
  margin-top: 0.3rem;
  flex-grow: 1;
  border-radius: var(--cb-border-radius-sm);
  border: 1px solid var(--cb-border-color);
  height: var(--cb-input-field-height);
  padding-left: 0.6rem;
  justify-content: center;
  font-family: var(--cb-secondary-font);
  font-weight: var(--cb-font-weight-normal);
  background-color: var(--cb-white);
  color: var(--cb-input-text-color);
  box-sizing: border-box;
}

.cb-input:focus {
  outline: none;
  border: 1px solid var(--cb-primary-color);
}

.cb-input:disabled {
  background-color: var(--cb-input-disabled-color);
}

.cb-input-error {
  border: 1px solid var(--cb-error-text-color);
}

.cb-phone-input-field {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 0.3rem;
  flex-grow: 1;
  font-family: var(--cb-secondary-font);
  font-weight: var(--cb-font-weight-normal);
  background-color: var(--cb-white);
  color: var(--cb-text-primary-color);
  border-radius: var(--cb-border-radius-sm);
  border: 1px solid var(--cb-border-color);
  height: var(--cb-input-field-height);
  align-items: center;
}

.cb-phone-input-field-disabled {
  background-color: var(--cb-input-disabled-color);
}

.cb-phone-input-field:focus-within {
  outline: none;
  border: 1px solid var(--cb-primary-color);
}

.cb-phone-input-field.cb-input-error {
  border: 1px solid var(--cb-error-text-color);
}

.cb-phone-input-field-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  color: var(--cb-text-primary-color);
  background-color: var(--cb-box-color);
  cursor: pointer;
  gap: 0.25rem;
  align-items: center;
  border: 0px;
  padding-left: 0.8rem;
  height: 100%;
  border-top-left-radius: var(--cb-border-radius-sm);
  border-bottom-left-radius: var(--cb-border-radius-sm);
}

.cb-phone-input-field-button svg {
  width: 20px;
}

.cb-phone-input-field-button img {
  width: 1rem;
}

.cb-phone-input-field-button-disabled {
  background-color: var(--cb-input-disabled-color);
  cursor: not-allowed;
}

.cb-phone-input-field-selection {
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: var(--cb-box-color);
  top: calc(var(--cb-input-field-height) * 1.1);
  height: 250px;
  overflow-y: auto;
}

.cb-phone-input-field-selection svg {
  width: 20px;
}

.cb-phone-input-field-selection-item {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-bottom: 1px solid var(--cb-border-color);
}

.cb-phone-input-field-selection-item-selected {
  cursor: none;
  background-color: var(--cb-box-color-hover);
  color: var(--cb-primary-color);
}

.cb-phone-input-field-selection-item:hover {
  background-color: var(--cb-box-color-hover);
}

.cb-phone-input-field-input {
  flex: 4;
  border: 0px;
  height: calc(var(--cb-input-field-height) - 0.2rem);
  width: 100%;
  padding: 0 0.4rem;
  color: var(--cb-input-text-color);
  background-color: var(--cb-white);
  font-family: var(--cb-secondary-font);
  border-top-right-radius: var(--cb-border-radius-sm);
  border-bottom-right-radius: var(--cb-border-radius-sm);
}

.cb-phone-input-field-input:focus {
  outline: none;
}

.cb-phone-input-field-input:disabled {
  background-color: var(--cb-input-disabled-color);
}

.cb-phone-input-field-search {
  background-color: var(--cb-white);
  font-family: var(--cb-secondary-font);
  color: var(--cb-input-text-color);
  height: var(--cb-input-field-height);
  font-weight: var(--cb-font-weight-normal);
  border: none;
  margin-bottom: 0.5rem;
  width: 98%;
}

.cb-phone-input-field-search:focus {
  outline: none;
}

.cb-input:-webkit-autofill,
.cb-input:-webkit-autofill:hover,
.cb-input:-webkit-autofill:focus,
.cb-input:-webkit-autofill:active,
.cb-phone-input-field-input:-webkit-autofill,
.cb-phone-input-field-input:-webkit-autofill:hover,
.cb-phone-input-field-input:-webkit-autofill:focus,
.cb-phone-input-field-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--cb-white) inset;
  -webkit-text-fill-color: var(--cb-input-text-color);
}

.cb-error-message {
  display: flex;
  font-family: var(--cb-secondary-font);
  font-size: var(--cb-error-font-size);
  color: var(--cb-error-text-color);
  margin-top: 0.2rem;
  align-items: center;
  padding-left: 0.25rem;
  font-weight: var(--cb-font-weight-normal);
}

.cb-error-message-icon-container {
  flex: 1;
  height: 1.3rem;
}

.cb-error-message-icon {
  width: 1.2rem;
}

.cb-error-message-text {
  flex: 11;
  line-height: 1.2;
}

.cb-checkbox-input-field {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  margin: 1.25rem auto 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cb-checkbox-input-field input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cb-checkbox-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--cb-white);
  border: 1px solid var(--cb-dark);
  border-radius: 0.2rem;
}

.cb-checkbox-input-field:hover input ~ .cb-checkbox-input {
  background-color: var(--cb-box-color-hover);
}

.cb-checkbox-input-field input:checked ~ .cb-checkbox-input {
  background-color: var(--cb-primary-color);
}

/* Move the :after pseudo-element to .cb-checkbox-input */
.cb-checkbox-input::after {
  content: '';
  position: absolute;
  display: none;
}

.cb-checkbox-input-field input:checked ~ .cb-checkbox-input::after {
  display: block;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--cb-button-text-primary-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
