.cb-user-details-container {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0rem;
  text-align: left;
}

.cb-user-details-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--cb-border-color);
  border-radius: var(--cb-border-radius-lg);
  padding: 1rem 1.25rem;
}

.cb-user-details-section-header {
  margin-bottom: 1rem;
}

.cb-user-details-title {
  font-size: calc(var(--cb-base-font-size) * 2.7);
  font-family: var(--cb-primary-font);
  font-weight: bold;
  margin: 0.5rem 1rem;
}

.cb-user-details-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  border-radius: var(--cb-border-radius-sm);
  border: var(--cb-passkey-list-border-color) 1px solid;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  background-color: var(--cb-white);
  flex-wrap: wrap;
  line-height: 1.4;
}

.cb-user-details-header {
  margin-bottom: 0.5rem;
  font-size: calc(var(--cb-base-font-size) * 1.9);
  font-family: var(--cb-primary-font);
  width: 170px;
  font-weight: bold;
}

.cb-user-details-subheader {
  font-size: calc(var(--cb-base-font-size) * 1.5);
  font-family: var(--cb-primary-font);
  font-weight: bold;
}

.cb-user-details-text {
  display: inline-block;
  font-size: calc(var(--cb-base-font-size) * 1.3);
  font-family: var(--cb-primary-font);
}

.cb-user-details-body {
  width: 100%;
  max-width: 500px;
}

.cb-user-details-body-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cb-user-details-body-row-icon {
  height: 1.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-top: 0.45rem;
  align-self: flex-start;
}

.cb-user-details-body-button {
  display: flex;
  align-items: center;
  padding: 0.4rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--cb-primary-font);
}

.cb-user-details-body-button-icon {
  height: 1em;
  width: auto;
  margin-right: 8px;
}

.cb-user-details-body-button-primary {
  padding: 0.4rem 3rem;
  background-color: var(--cb-primary-color);
  border: 1px solid transparent;
  border-radius: var(--cb-border-radius-sm);
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--cb-primary-font);

  span {
    color: var(--cb-button-text-primary-color);
    font-size: 13px;
  }
}

.cb-user-details-body-button-secondary,
.cb-user-details-body-button-cancel {
  padding: 0.4rem 3rem;
  background-color: var(--cb-secondary-color);
  border: 1px solid transparent;
  border-radius: var(--cb-border-radius);
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--cb-primary-font);
}

.cb-user-details-body-button-secondary span {
  color: var(--cb-secondary-link-color);
  font-size: 10px;
}

.cb-user-details-body-button-delete {
  color: var(--cb-error-text-color);
  padding: 0.4rem 0;
  background-color: var(--cb-color-primary);
  border: 1px solid transparent;
  border-radius: var(--cb-border-radius);
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--cb-primary-font);
}

.cb-user-details-identifier-container {
  gap: 1rem;
  border-radius: var(--cb-border-radius-sm);
  border: var(--cb-border-color) 1px solid;
  margin-bottom: 0.75rem;
  padding: 0.6rem 0.5rem 0.6rem 1rem;
}

.cb-user-details-header-badge-section {
  margin: auto 0;
  display: flex;
  gap: 0.5rem;
}

.cb-user-details-header-badge {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  border-radius: var(--cb-border-radius-lg);
  border: none;
  color: var(--cb-passkey-list-badge-color);
  background-color: var(--cb-passkey-list-badge-background-color);
  padding: 0.35rem 0.7rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.cb-user-details-header-badge-icon {
  flex: 2;
  height: 1rem;
}

.cb-user-details-header-badge-text {
  flex: 10;
  font-weight: 500;
  white-space: nowrap;
  overflow: visible;
  color: var(--cb-passkey-list-badge-color);
  font-family: var(--cb-secondary-font);
  font-size: calc(var(--cb-base-font-size) * 1.25);
}

.cb-user-details-section-indentifier {
  width: 85%;
  align-self: self-start;
}

/* .cb-user-details-section-indentifiers-list {
  margin-top: 1rem;
} */

.cb-user-details-section-indentifiers-list-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.cb-user-details-section-indentifiers-list-item-field {
  flex: 8;
}

.cb-user-details-section-indentifiers-list-item-field-input {
  width: var(--cb-container-full-width);
}

.cb-user-details-section-indentifiers-list-item-badge {
  padding: 0.5rem;
  flex: 1;
  margin-top: 0.75rem;
  border-radius: var(--cb-border-radius-sm);
}

.cb-user-details-section-indentifiers-list-item-badge-primary {
  background-color: var(--cb-primary-color);
  color: var(--cb-button-text-primary-color);
}

.cb-user-details-section-indentifiers-list-item-badge-secondary {
  background-color: var(--cb-text-secondary-color);
  color: var(--cb-text-primary-color);
}

.cb-user-details-section-indentifiers-list-item-badge-text {
  color: var(--cb-button-text-primary-color);
}

.cb-user-details-alert-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin: 0.5rem 0;
}

.cb-user-details-alert-icon {
  width: 13px;
  height: 13px;
}

.cb-user-details-input {
  width: 100%;

  input {
    margin-top: 0px;
  }

  input:disabled {
    background-color: inherit;
  }
}

.cb-dropdown-menu {
  position: relative;
}

.cb-dropdown-menu-container {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 120px;
  background-color: var(--cb-white);
  box-shadow: 0px 2px 6px 2px var(--cb-border-color);
  border-radius: var(--cb-border-radius-sm);
}

.cb-dropdown-menu-item {
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid var(--cb-border-color);
}

.cb-dropdown-menu-item:last-child {
  border-bottom: none;
}

.cb-dropdown-menu-trigger {
  cursor: pointer;
  font-family: var(--cb-primary-font);
  font-size: 14px;
  font-weight: var(--cb-font-weight-bold);
  margin-right: 4px;
}

@media screen and (max-width: 481px) {
  .cb-user-details-section-indentifier {
    width: 75%;
  }

  .cb-user-details-body-subtitle {
    display: none;
  }
}
