.cb-dark {
  .cb-container {
    background: #1e1e1e;
    color: #e0e0e0;
    border-color: rgba(255, 255, 255, 0.25);
  }

  .cb-header,
  .cb-subheader,
  .cb-body {
    color: #e0e0e0;
  }

  .cb-link-primary {
    color: #4b8fff;
  }

  .cb-link-secondary {
    color: #3a7cdd;
  }

  .cb-error {
    color: #ff6b6b;
  }

  .cb-horizontal-divider,
  .cb-horizontal-divider:before,
  .cb-horizontal-divider:after {
    color: #555;
  }

  .cb-input {
    color: #e0e0e0;
    caret-color: #e0e0e0;
    border-color: #ffffff80;
    -webkit-text-fill-color: #e0e0e0;
  }

  .cb-input[disabled] {
    color: #e0e0e0;
  }

  .cb-input:-webkit-autofill,
  .cb-input:-webkit-autofill:hover,
  .cb-input:-webkit-autofill:focus,
  .cb-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1e1e1e inset !important;
    box-shadow: 0 0 0 1000px #1e1e1e inset;
  }

  .cb-input:-webkit-autofill {
    -webkit-text-fill-color: #e0e0e0 !important;
  }

  .cb-form-input label {
    color: #c0c0c0;
  }

  .cb-form-input.cb-has-content label,
  .cb-form-input.cb-has-focus label {
    color: #c0c0c0;
  }

  .cb-button-primary {
    background-color: #4b8fff;
  }

  .cb-button-primary:hover {
    background-color: #3670c8;
  }

  .cb-button-secondary {
    border-color: #3a7cdd;
    color: #3a7cdd;
    background: #1e1e1e;
  }

  .cb-button-secondary:hover {
    background-color: #333;
  }

  .cb-button-tertiary {
    color: #4b8fff;
  }

  .cb-link-icon {
    color: #e0e0e0;
    caret-color: #e0e0e0;
  }

  .cb-link-icon:hover {
    background-color: #242222;
  }

  .cb-finger-print-icon {
    background-color: #4b8fff;
    border-radius: 3.5rem;
  }

  .dialog-content {
    background-color: #1e1e1e;
  }

  .dialog-x-button:hover {
    color: #ff4c51;
  }

  .cb-passkey-list-card {
    background-color: #1e1e1e;
    border-color: #ffffff80;
    color: #e0e0e0;
  }

  .cb-passkey-list-icon svg {
    fill: #e0e0e0;
  }

  .cb-passkey-list-delete:hover {
    fill: #ff4c51;
    cursor: pointer;
  }

  .cb-passkey-list-header-badge {
    border-color: #e0e0e0;
  }
}
