.cb-dark {
  --cb-primary-color: #4b8fff;
  --cb-secondary-color: #3a7cdd;
  --cb-error-color: #ff6b6b;
  --cb-primary-text-color: #e0e0e0;
  --cb-secondary-text-color: #ffffff;
  --cb-white: #1e1e1e;
  --cb-black: #ffffff;
  --cb-horizontal-divider-color: #555;
  --cb-input-color: #e0e0e0;
  --cb-font: 'Space Grotesk', sans-serif;

  .cb-container {
    border-color: rgba(255, 255, 255, 0.25);
  }

  .cb-header,
  .cb-subheader,
  .cb-body {
    color: var(--cb-primary-text-color);
  }

  .cb-input {
    caret-color: var(--cb-input-color);
    border-color: #ffffff80;
  }

  .cb-form-input label {
    color: #c0c0c0;
  }

  .cb-form-input.cb-has-content label,
  .cb-form-input.cb-has-focus label {
    color: #c0c0c0;
  }

  .cb-button-primary:hover {
    background-color: #3670c8;
  }

  .cb-button-secondary:hover {
    background-color: #333;
  }

  .cb-link-icon {
    caret-color: #e0e0e0;
  }

  .cb-link-icon:hover {
    background-color: #242222;
  }

  .cb-finger-print-icon {
    background-color: #4b8fff;
    border-radius: 3.5rem;
  }

  .dialog-x-button:hover {
    color: var(--cb-error-color);
  }

  .cb-passkey-list-card {
    background-color: var(--cb-white);
    border-color: #ffffff80;
    color: var(--cb-primary-text-color);
  }

  .cb-passkey-list-icon svg {
    fill: var(--cb-input-color);
  }

  .cb-passkey-list-delete:hover {
    fill: var(--cb-error-color);
    cursor: pointer;
  }

  .cb-passkey-list-header-badge {
    border-color: var(--cb-input-color);
  }
}
