.cb-emerald-funk-theme {
  --cb-primary-color: #21ba45;
  --cb-secondary-color: #b5ff7d;
  --cb-white: #1b1d1b;
  --cb-black: #ffffff;
  --cb-primary-text-color: #ffffff;
  --cb-border-color: #21ba45;
  --cb-error-color: #ff6b6b;
  --cb-horizontal-divider-color: #555;
  --cb-input-color: #e0e0e0;
  --cb-primary-font: 'Comic Sans MS', cursive, sans-serif;
  --cb-secondary-font: 'Comic Sans MS', cursive, sans-serif;

  .cb-container {
    border-color: var(--cb-border-color);
  }

  .cb-input {
    caret-color: var(--cb-input-color);
    border-color: #ffffff80;
  }

  .cb-form-input label {
    color: var(--cb-input-color);
  }

  .cb-form-input.cb-has-content label,
  .cb-form-input.cb-has-focus label {
    color: var(--cb-input-color);
  }

  .cb-button-primary[disabled] {
    background-color: #578f64;
    cursor: not-allowed;
  }

  .cb-button-primary[disabled]:hover {
    background-color: #578f64;
  }

  .cb-button-primary:hover {
    background-color: #1b8834;
  }

  .cb-button-secondary:hover {
    background-color: #133113;
  }

  .cb-finger-print-icon {
    background-color: var(--cb-primary-color);
    border-radius: 3.5rem;
  }
}
