@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #1953ff;
    --secondary-color: #59acff;
    --primary-color-rgb: 25, 83, 255;
    --primary-hover-color: #1145df;
    --secondary-font-color: var(--secondary-color, --primary-color);
    --secondary-background-color: transparent;
    --secondary-background-hover-color: transparent;
    --secondary-border-color: var(--secondary-color, --primary-color);
    --secondary-border-hover-color: var(--secondary-color, --primary-color);
    --secondary-font-hover-color: var(--secondary-color, --primary-color);
    --heading-color: #090f1f;
    --text-color: #090f1f;
    --error-color: #FF4C51;
    --primary-font: 'Space Grotesk', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --border-color: rgba(143, 155, 191, 0.5);
    --email-provider-btn-color: #fff;
    --box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    --margin-top: 5rem;
    --border-container-width: 0;
    --input-margin: 2rem 0 1rem 0;
    --placeholder-opacity: 0;
    --label-opacity: 1;
    --light-color: #d9d9d9;
    --fingerprint-icon: url('assets/fingerprint.png');
  }

  html {
    @apply leading-normal;
  }

  .animate-cd-spin {
    animation: cd-spin 1s ease infinite;
  }
}

@layer components {
  .btn-primary {
    @apply border-none text-white bg-[--primary-color] hover:bg-[--primary-hover-color];
  }

  .btn-secondary {
    @apply border border-solid border-[--secondary-border-color] bg-[--secondary-background-color] text-[--secondary-color];
  }

  .btn-tertiary {
    @apply bg-[--secondary-background-color] text-[--secondary-font-color];
  }

  .spinner-primary {
    @apply block relative w-cd-11 h-cd-11 top-0 left-0 right-0 bottom-0 m-auto border-[0.25rem] border-t-white border-solid border-black/[.55] !rounded-[100%] animate-cd-spin;
  }

  .spinner-secondary {
    @apply border-[0.25rem] border-solid border-black/[.55] border-t-[--primary-color];
  }

  .finger-print-icon {
    background-image: var(--fingerprint-icon);
    background-size: cover;
    width: 103px;
    height: 121px;
  }

  h1 {
    @apply mt-0 text-cd-5 font-bold;
  }

  h1,
  h2 {
    font-family: var(--primary-font, sans-serif);
    color: var(--heading-color, #090f1f);
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    @apply leading-none;
  }

  p {
    @apply mx-0 my-cd-9;
  }

  div,
  p {
    font-family: var(--secondary-font, sans-serif);
    color: var(--text-color, #535e80);
  }

  button {
    @apply my-cd-4 h-12 px-cd-14 flex items-center justify-center;
    font-family: var(--primary-font, sans-serif);
    font-size: 1rem;
    border-radius: var(--border-radius, 1.5rem);
    cursor: pointer;
  }

  .text-center {
    text-align: var(--text-align, center);
  }

  .container {
    margin: 0 auto;
    padding: 2.5rem 1.3rem;
    border-radius: 0.5rem;
    border-width: var(--border-container-width, 1px);
    border-style: solid;
    border-color: var(--border-color, rgba(143, 155, 191, 0.5));
    max-width: 30rem;
  }

  .floating-label {
    position: relative;
    margin: var(--input-margin, 2rem 0 1rem 0);
    width: 100%;
  }

  input[disabled] {
    color: var(--text-disabled-color, var(--text-color, #535e80));
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--primary-background-color, '#ffffff') inset !important;
    box-shadow: 0 0 0 1000px white inset;
  }

  /*Change text in autofill textbox*/
  input:-webkit-autofill {
    -webkit-text-fill-color: var(--text-color, #535e80) !important;
  }

  input:focus {
    outline: none;
  }

  input {
    color: var(--text-color, #535e80);
    font-size: 1rem;
    padding: var(--input-padding, 0.8rem 1.4rem);
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius, 1.5rem);
    border-color: var(--border-color, rgba(143, 155, 191, 0.5));
    position: relative;
    background: transparent;
    z-index: 2;
    box-sizing: border-box;
    -webkit-text-fill-color: var(--text-color, #535e80);
    -webkit-background-clip: text !important;
    background-clip: text !important;
  }

  input::-ms-input-placeholder {
    /* Edge 12-18 */
    opacity: var(--placeholder-opacity, 0);
  }

  input::placeholder {
    opacity: var(--placeholder-opacity, 0);
  }

  .floating-label label {
    @apply font-bold;
    color: var(--secondary-color, #8f9bbf);
    position: absolute;
    left: 1.4rem;
    top: 0.8rem;
    transition: 0.3s;
    z-index: 1;
    opacity: var(--label-opacity);
  }

  .floating-label.has-content label,
  .floating-label.has-focus label {
    @apply font-normal;
    top: -1.1rem;
    left: 1.4rem;
    font-size: 0.75rem;
    color: var(--secondary-color, #535e80);
    transition: 0.3s;
  }

  a,
  .link {
    text-decoration: none;
    font-weight: bold;
    color: var(--light-color, #1953ff);
    cursor: pointer;
  }

  #corbado-auth {
    max-width: 384px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow, none);
    margin-top: var(--margin-top, inherit);
  }
}