@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import 'css/light.css';
@import 'css/dark.css';

:root {
  --cb-font-family-primary: 'Space Grotesk', sans-serif;
  --cb-font-family-secondary: 'Inter', sans-serif;
  --cb-border-radius: 0rem;
}

.cb-h2 {
  font-size: 1.5rem;
  /*font-weight: bold;*/
  margin-bottom: 0.5rem;
}

.cb-h3 {
  font-size: 1.25rem;
  /*font-weight: bold;*/
  margin-bottom: 0.5rem;
}

.cb-p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.cb-span {
  font-size: 1rem;
}

.cb-bold {
  font-weight: bold;
}

.cb-link-button {
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.cb-connect-container {
  font-family: var(--cb-font-family-primary);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: var(--cb-color-surface);
  box-sizing: content-box;
  padding: 0.25rem;
  text-align: left;
}

button.cb-primary-button {
  padding: 0.75rem 1rem;
  color: var(--cb-color-on-primary);
  background-color: var(--cb-color-primary);
  border-radius: var(--cb-border-radius);
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--cb-font-family-primary);
  width: 100%;
}

.cb-primary-button:hover,
.cb-primary-button:focus,
.cb-primary-button:active {
  border: none;
  opacity: 92%;
}

.cb-primary-button:disabled {
  opacity: 84%;
}

button.cb-secondary-button {
  padding: 0.75rem 1rem;
  color: var(--cb-color-on-secondary);
  background-color: var(--cb-color-secondary);
  border-radius: var(--cb-border-radius);
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--cb-font-family-primary);
  width: 100%;
}

.cb-secondary-button:hover,
.cb-secondary-button:focus,
.cb-secondary-button:active {
  border: none;
  opacity: 92%;
}

.cb-input {
  flex-grow: 1;
  border-radius: var(--cb-border-radius);
  border: 1px solid var(--cb-color-tertiary);
  padding: 0.75rem 0.5rem;
  justify-content: center;
  box-sizing: border-box;
  font-family: var(--cb-font-family-secondary);
}

.cb-input:focus {
  outline: none;
  border: 1px solid var(--cb-color-primary);
}

.cb-input:disabled {
  background-color: var(--cb-input-disabled-color);
}

.cb-input-error {
  border: 1px solid var(--cb-color-error);
}

.cb-input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.75rem;
}

.cb-checkbox-input-field {
  margin-bottom: 0.75rem;
}

.cb-checkbox-input-field input {
  margin-right: 0.5rem;
}

.cb-input-label {
  margin: 0.25rem 0.5rem;
}

.cb-input-label-text {
}

/* loading spinners */
.loader {
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: content-box;
  animation: rotation 1s linear infinite;
  vertical-align: middle;
}

.loader-primary {
  border-top-color: var(--cb-color-primary);
  border-bottom-color: transparent;
}

.loader-on-primary {
  border-color: var(--cb-color-on-primary);
  border-bottom-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cb-login-init-signup {
  margin: 0.5rem 0;
}

.cb-login-init-forgot-password {
  margin: 0.5rem 0;
}

.cb-login-error-hard-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.cb-login-error-hard-icons > * {
  width: 60px;
}

.cb-login-error-hard-fallback {
  margin: 0.5rem 0;
}

.cb-login-error-soft-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.cb-login-error-soft-icons > * {
  width: 60px;
  margin: 0.5rem;
}

.cb-login-error-soft-fallback {
  margin: 0.5rem 0;
}

.cb-append-benefits-icons {
  display: flex;
  justify-content: center;
}

.cb-append-benefits-icons > * {
  width: 100px;
}

.cb-append-info-list {
  margin: 1rem 0;
}

.cb-append-benefits-container {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.cb-connect-append-button {
  padding: 0.5rem 0;
}

.cb-passkey-info-list-item {
  display: flex;
  margin: 0.5rem 0;
  width: 100%;
}

.cb-passkey-info-list-item__icon {
  width: 75px;
  margin-right: 0.25rem;
  flex: 0 0 60px;
  padding: 0.5rem;
}

.cb-passkey-info-list-item__text {
  flex: 1;
}

.cb-notification-container {
  display: flex;
  padding: 0.5rem 1rem;
  background: var(--cb-color-secondary-container);
  color: var(--cb-color-on-secondary-container);
  border-radius: 0.7rem;
  border: 1px solid var(--cb-color-outline);
}

.cb-notification-icon {
  width: 25px;
  margin-right: 0.25rem;
  fill: var(--cb-color-on-secondary-container);
}

.cb-notification-text {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.cb-passkey-button {
  padding: 1rem;
  background-color: white;
  color: var(--cb-color-on-primary);
  border-radius: var(--cb-border-radius);
  border: 1px solid var(--cb-color-outline);
  font-family: var(--cb-font-family-primary);
  width: 100%;
  display: flex;
  justify-items: between;
  align-items: center;
  gap: 1rem;
}

.cb-passkey-button-icon {
  width: 25px;
  height: 25px;
  color: black;
}

.cb-passkey-button-content {
  flex: 1;
  text-align: left;
}

.cb-passkey-button-title {
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
  font-family: var(--cb-font-family-primary);
}

.cb-passkey-button-subtitle {
  color: var(--cb-color-secondary);
  font-size: 0.8rem;
  color: black;
  font-family: var(--cb-font-family-primary);
}

.cb-passkey-button-arrow {
  width: 9px;
  color: black;
}

.cb-switch {
  font-family: var(--cb-font-family-primary);
  font-size: 1rem;
  color: var(--cb-color-primary);
}

.cb-login-init-passkey-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  margin: 1rem 0rem;
}
