@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto: 'Roboto';

  --color-light-brown: #d2b48c;
  --color-dark-brown: #654321;
  --color-white: #ffffff;
  --color-black: #000000;
}

.heading {
  @apply text-4xl font-bold text-gray-800 mb-3;
}

.paragraph {
  @apply text-lg text-gray-600;
}

.subheading {
  @apply text-2xl font-semibold text-gray-700;
}

.dot {
  transition: all 0.3s ease-in-out;
}

input:checked~.dot {
  transform: translateX(100%);
}