@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto: 'Roboto';

  --color-light-brown: #d2b48c;
  --color-dark-brown: #654321;
  --color-white: #ffffff;
  --color-black: #000000;
}

.heading {
  @apply text-4xl font-bold text-gray-800 mb-3;
}

.paragraph {
  @apply text-lg text-gray-600;
}

.subheading {
  @apply text-2xl font-semibold text-gray-700;
}

.dot {
  transition: all 0.3s ease-in-out;
}

input:checked ~ .dot {
  transform: translateX(100%);
}

.corbado-custom-theme {
  --cb-primary-color: var(--color-light-brown);
  --cb-primary-color-hover: var(--color-dark-brown);
  --cb-primary-color-disabled: #eedcc4;
  --cb-button-text-primary-color: var(--color-black);
  --cb-secondary-link-color: var(--color-dark-brown);
  --cb-primary-font: var(--font-roboto);
  --cb-secondary-font: var(--font-roboto);
}

.cb-emerald-funk-theme {
  --cb-primary-color: #21ba45;
  --cb-primary-color-hover: #136e29;
  --cb-primary-color-disabled: #87c459;
  --cb-button-text-primary-color: #ffffff;
  --cb-text-primary-color: #ffffff;
  --cb-text-secondary-color: #6e6d6d;
  --cb-border-color: #21ba45;
  --cb-error-text-color: #ff6b6b;
  --cb-secondary-link-color: #b5ff7d;
  --cb-box-color: #1f1f1f;
  --cb-box-color-hover: #3b3b3b;
  --cb-dark: #ffffff;
  --cb-white: #1b1d1b;
  --cb-primary-font: 'Comic Sans MS', cursive, sans-serif;
  --cb-secondary-font: 'Comic Sans MS', cursive, sans-serif;
}