@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-eloquent: 'Great Vibes', cursive;

  --color-light-brown: #d2b48c;
  --color-dark-brown: #654321;
  --color-white: #ffffff;
  --color-black: #000000;
}

.eloquent-corbado-test {
  .cb-container {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-dark-brown);
  }

  .cb-header,
  .cb-subheader,
  .cb-body {
    font-family: var(--font-eloquent);
    color: var(--color-black);
  }

  .cb-link-primary {
    color: var(--color-light-brown);
  }

  .cb-link-secondary {
    color: var(--color-dark-brown);
  }

  .cb-error {
    color: var(--color-light-brown); /* Assuming error color is light brown */
  }

  .cb-form-input label {
    color: var(--color-light-brown);
  }

  /* You can continue defining other elements like .cb-horizontal-divider, .cb-input, etc., 
     based on your specific requirements and the color/font variables defined above. */

  .cb-button-primary {
    background-color: var(--color-dark-brown);
    color: var(--color-white);
  }

  .cb-button-primary:hover {
    background-color: var(--color-black);
  }

  .cb-button-secondary {
    border-color: var(--color-light-brown);
    color: var(--color-light-brown);
    background-color: var(--color-white);
  }

  .cb-button-secondary:hover {
    background-color: var(--color-dark-brown);
  }

  .cb-finger-print-icon {
    background-color: var(--color-light-brown);
    border-radius: 3.5rem;
  }
}
