.phone-input-field {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
    font-family: var(--cb-secondary-font);
    font-weight: var(--cb-font-weight-normal);
    background-color: var(--cb-white);
    color: var(--cb-text-primary-color);
    border-radius: var(--cb-border-radius-sm);
    border: 1px solid var(--cb-border-color);
    height: var(--cb-input-field-height);
}

.phone-input-field:focus {
    outline: none;
    border: 1px solid var(--cb-primary-color);
}

.phone-input-field-button {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--cb-box-color);
    cursor: pointer;
    gap: 0.5rem;
    align-items: center;
    border: 0px;
    padding-left: 0.8rem;
    border-top-left-radius: var(--cb-border-radius-sm);
    border-bottom-left-radius: var(--cb-border-radius-sm);
}

.phone-input-field-button svg {
    width: 20px;
}

.phone-input-field-selection {
    position: absolute;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: var(--cb-box-color);
    top: calc(var(--cb-input-field-height) * 1.1);
    height: 250px;
    overflow-y: auto;
}

.phone-input-field-selection svg {
    width: 20px;
}

.phone-input-field-selection-item {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-bottom: 1px solid var(--cb-border-color);
}

.phone-input-field-selection-item-selected {
    cursor: none;
    background-color: var(--cb-box-color-hover);
    color: var(--cb-primary-color);
}

.phone-input-field-selection-item:hover {
    background-color: var(--cb-box-color-hover);
}

.phone-input-field-input {
    flex: 4;
    border: 0px;
    height: 93%;
    color: var(--cb-text-primary-color);
    background-color: var(--cb-white);
    font-family: var(--cb-secondary-font);
    border-top-right-radius: var(--cb-border-radius-sm);
    border-bottom-right-radius: var(--cb-border-radius-sm);
}

.phone-input-field-input:focus {
    outline: none;
}

.phone-input-field-search {
    background-color: var(--cb-white);
    font-family: var(--cb-secondary-font);
    color: var(--cb-text-primary-color);
    height: var(--cb-input-field-height);
    font-weight: var(--cb-font-weight-normal);
    border: none;
    margin-bottom: 0.5rem;
    width: 98%;
}

.phone-input-field-search:focus {
    outline: none;
}