.corbado-custom-theme {
  --cb-primary-color: var(--color-light-brown);
  --cb-primary-color-hover: var(--color-dark-brown);
  --cb-primary-color-disabled: #eedcc4;
  --cb-button-text-primary-color: var(--color-black);
  --cb-secondary-link-color: var(--color-dark-brown);
  --cb-primary-font: var(--font-roboto);
  --cb-secondary-font: var(--font-roboto);
}
