.dark {
  --cb-color-primary: rgb(184 196 255);
  --cb-color-surface-tint: rgb(184 196 255);
  --cb-color-on-primary: rgb(32 44 97);
  --cb-color-primary-container: rgb(55 67 121);
  --cb-color-on-primary-container: rgb(221 225 255);
  --cb-color-secondary: rgb(194 197 221);
  --cb-color-on-secondary: rgb(44 47 66);
  --cb-color-secondary-container: rgb(66 70 89);
  --cb-color-on-secondary-container: rgb(223 225 249);
  --cb-color-tertiary: rgb(228 186 217);
  --cb-color-on-tertiary: rgb(68 39 63);
  --cb-color-tertiary-container: rgb(92 61 86);
  --cb-color-on-tertiary-container: rgb(255 215 243);
  --cb-color-success: rgb(128, 184, 22);
  --cb-color-error: rgb(255 180 171);
  --cb-color-on-error: rgb(105 0 5);
  --cb-color-error-container: rgb(147 0 10);
  --cb-color-on-error-container: rgb(255 218 214);
  --cb-color-background: rgb(18 19 24);
  --cb-color-on-background: rgb(227 225 233);
  --cb-color-surface: rgb(18 19 24);
  --cb-color-on-surface: rgb(227 225 233);
  --cb-color-surface-variant: rgb(69 70 79);
  --cb-color-on-surface-variant: rgb(198 197 208);
  --cb-color-outline: rgb(144 144 154);
  --cb-color-outline-variant: rgb(69 70 79);
  --cb-color-shadow: rgb(0 0 0);
  --cb-color-scrim: rgb(0 0 0);
  --cb-color-inverse-surface: rgb(227 225 233);
  --cb-color-inverse-on-surface: rgb(47 48 54);
  --cb-color-inverse-primary: rgb(79 91 146);
  --cb-color-primary-fixed: rgb(221 225 255);
  --cb-color-on-primary-fixed: rgb(7 22 75);
  --cb-color-primary-fixed-dim: rgb(184 196 255);
  --cb-color-on-primary-fixed-variant: rgb(55 67 121);
  --cb-color-secondary-fixed: rgb(223 225 249);
  --cb-color-on-secondary-fixed: rgb(23 27 44);
  --cb-color-secondary-fixed-dim: rgb(194 197 221);
  --cb-color-on-secondary-fixed-variant: rgb(66 70 89);
  --cb-color-tertiary-fixed: rgb(255 215 243);
  --cb-color-on-tertiary-fixed: rgb(44 18 41);
  --cb-color-tertiary-fixed-dim: rgb(228 186 217);
  --cb-color-on-tertiary-fixed-variant: rgb(92 61 86);
  --cb-color-surface-dim: rgb(18 19 24);
  --cb-color-surface-bright: rgb(56 57 63);
  --cb-color-surface-container-lowest: rgb(13 14 19);
  --cb-color-surface-container-low: rgb(27 27 33);
  --cb-color-surface-container: rgb(31 31 37);
  --cb-color-surface-container-high: rgb(41 42 47);
  --cb-color-surface-container-highest: rgb(52 52 58);
}