.dark-high-contrast {
  --cb-color-primary: rgb(252 250 255);
  --cb-color-surface-tint: rgb(184 196 255);
  --cb-color-on-primary: rgb(0 0 0);
  --cb-color-primary-container: rgb(190 200 255);
  --cb-color-on-primary-container: rgb(0 0 0);
  --cb-color-secondary: rgb(252 250 255);
  --cb-color-on-secondary: rgb(0 0 0);
  --cb-color-secondary-container: rgb(199 201 225);
  --cb-color-on-secondary-container: rgb(0 0 0);
  --cb-color-tertiary: rgb(255 249 250);
  --cb-color-on-tertiary: rgb(0 0 0);
  --cb-color-tertiary-container: rgb(233 190 221);
  --cb-color-on-tertiary-container: rgb(0 0 0);
  --cb-color-success: rgb(128, 184, 22);
  --cb-color-error: rgb(255 249 249);
  --cb-color-on-error: rgb(0 0 0);
  --cb-color-error-container: rgb(255 186 177);
  --cb-color-on-error-container: rgb(0 0 0);
  --cb-color-background: rgb(18 19 24);
  --cb-color-on-background: rgb(227 225 233);
  --cb-color-surface: rgb(18 19 24);
  --cb-color-on-surface: rgb(255 255 255);
  --cb-color-surface-variant: rgb(69 70 79);
  --cb-color-on-surface-variant: rgb(252 250 255);
  --cb-color-outline: rgb(202 202 212);
  --cb-color-outline-variant: rgb(202 202 212);
  --cb-color-shadow: rgb(0 0 0);
  --cb-color-scrim: rgb(0 0 0);
  --cb-color-inverse-surface: rgb(227 225 233);
  --cb-color-inverse-on-surface: rgb(0 0 0);
  --cb-color-inverse-primary: rgb(25 38 90);
  --cb-color-primary-fixed: rgb(227 229 255);
  --cb-color-on-primary-fixed: rgb(0 0 0);
  --cb-color-primary-fixed-dim: rgb(190 200 255);
  --cb-color-on-primary-fixed-variant: rgb(1 16 70);
  --cb-color-secondary-fixed: rgb(227 229 254);
  --cb-color-on-secondary-fixed: rgb(0 0 0);
  --cb-color-secondary-fixed-dim: rgb(199 201 225);
  --cb-color-on-secondary-fixed-variant: rgb(18 21 38);
  --cb-color-tertiary-fixed: rgb(255 221 244);
  --cb-color-on-tertiary-fixed: rgb(0 0 0);
  --cb-color-tertiary-fixed-dim: rgb(233 190 221);
  --cb-color-on-tertiary-fixed-variant: rgb(38 12 35);
  --cb-color-surface-dim: rgb(18 19 24);
  --cb-color-surface-bright: rgb(56 57 63);
  --cb-color-surface-container-lowest: rgb(13 14 19);
  --cb-color-surface-container-low: rgb(27 27 33);
  --cb-color-surface-container: rgb(31 31 37);
  --cb-color-surface-container-high: rgb(41 42 47);
  --cb-color-surface-container-highest: rgb(52 52 58);
}
