.light-high-contrast {
  --cb-color-primary: rgb(16 29 82);
  --cb-color-surface-tint: rgb(79 91 146);
  --cb-color-on-primary: rgb(255 255 255);
  --cb-color-primary-container: rgb(51 63 116);
  --cb-color-on-primary-container: rgb(255 255 255);
  --cb-color-secondary: rgb(30 33 51);
  --cb-color-on-secondary: rgb(255 255 255);
  --cb-color-secondary-container: rgb(62 66 85);
  --cb-color-on-secondary-container: rgb(255 255 255);
  --cb-color-tertiary: rgb(52 24 48);
  --cb-color-on-tertiary: rgb(255 255 255);
  --cb-color-tertiary-container: rgb(88 57 82);
  --cb-color-on-tertiary-container: rgb(255 255 255);
  --cb-color-success: rgb(128, 184, 22);
  --cb-color-error: rgb(78 0 2);
  --cb-color-on-error: rgb(255 255 255);
  --cb-color-error-container: rgb(140 0 9);
  --cb-color-on-error-container: rgb(255 255 255);
  --cb-color-background: rgb(251 248 255);
  --cb-color-on-background: rgb(27 27 33);
  --cb-color-surface: rgb(251 248 255);
  --cb-color-on-surface: rgb(0 0 0);
  --cb-color-surface-variant: rgb(226 225 236);
  --cb-color-on-surface-variant: rgb(34 35 43);
  --cb-color-outline: rgb(65 66 75);
  --cb-color-outline-variant: rgb(65 66 75);
  --cb-color-shadow: rgb(0 0 0);
  --cb-color-scrim: rgb(0 0 0);
  --cb-color-inverse-surface: rgb(47 48 54);
  --cb-color-inverse-on-surface: rgb(255 255 255);
  --cb-color-inverse-primary: rgb(233 235 255);
  --cb-color-primary-fixed: rgb(51 63 116);
  --cb-color-on-primary-fixed: rgb(255 255 255);
  --cb-color-primary-fixed-dim: rgb(28 41 93);
  --cb-color-on-primary-fixed-variant: rgb(255 255 255);
  --cb-color-secondary-fixed: rgb(62 66 85);
  --cb-color-on-secondary-fixed: rgb(255 255 255);
  --cb-color-secondary-fixed-dim: rgb(40 44 62);
  --cb-color-on-secondary-fixed-variant: rgb(255 255 255);
  --cb-color-tertiary-fixed: rgb(88 57 82);
  --cb-color-on-tertiary-fixed: rgb(255 255 255);
  --cb-color-tertiary-fixed-dim: rgb(64 35 59);
  --cb-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --cb-color-surface-dim: rgb(219 217 224);
  --cb-color-surface-bright: rgb(251 248 255);
  --cb-color-surface-container-lowest: rgb(255 255 255);
  --cb-color-surface-container-low: rgb(245 242 250);
  --cb-color-surface-container: rgb(239 237 244);
  --cb-color-surface-container-high: rgb(233 231 239);
  --cb-color-surface-container-highest: rgb(227 225 233);
}