.light-medium-contrast {
  --cb-color-primary: rgb(51 63 116);
  --cb-color-surface-tint: rgb(79 91 146);
  --cb-color-on-primary: rgb(255 255 255);
  --cb-color-primary-container: rgb(101 113 170);
  --cb-color-on-primary-container: rgb(255 255 255);
  --cb-color-secondary: rgb(62 66 85);
  --cb-color-on-secondary: rgb(255 255 255);
  --cb-color-secondary-container: rgb(112 115 137);
  --cb-color-on-secondary-container: rgb(255 255 255);
  --cb-color-tertiary: rgb(88 57 82);
  --cb-color-on-tertiary: rgb(255 255 255);
  --cb-color-tertiary-container: rgb(141 105 133);
  --cb-color-on-tertiary-container: rgb(255 255 255);
  --cb-color-error: rgb(140 0 9);
  --cb-color-on-error: rgb(255 255 255);
  --cb-color-error-container: rgb(218 52 46);
  --cb-color-on-error-container: rgb(255 255 255);
  --cb-color-background: rgb(251 248 255);
  --cb-color-on-background: rgb(27 27 33);
  --cb-color-surface: rgb(251 248 255);
  --cb-color-on-surface: rgb(27 27 33);
  --cb-color-surface-variant: rgb(226 225 236);
  --cb-color-on-surface-variant: rgb(65 66 75);
  --cb-color-outline: rgb(94 94 103);
  --cb-color-outline-variant: rgb(122 122 131);
  --cb-color-shadow: rgb(0 0 0);
  --cb-color-scrim: rgb(0 0 0);
  --cb-color-inverse-surface: rgb(47 48 54);
  --cb-color-inverse-on-surface: rgb(242 240 247);
  --cb-color-inverse-primary: rgb(184 196 255);
  --cb-color-primary-fixed: rgb(101 113 170);
  --cb-color-on-primary-fixed: rgb(255 255 255);
  --cb-color-primary-fixed-dim: rgb(77 89 144);
  --cb-color-on-primary-fixed-variant: rgb(255 255 255);
  --cb-color-secondary-fixed: rgb(112 115 137);
  --cb-color-on-secondary-fixed: rgb(255 255 255);
  --cb-color-secondary-fixed-dim: rgb(87 91 111);
  --cb-color-on-secondary-fixed-variant: rgb(255 255 255);
  --cb-color-tertiary-fixed: rgb(141 105 133);
  --cb-color-on-tertiary-fixed: rgb(255 255 255);
  --cb-color-tertiary-fixed-dim: rgb(115 81 108);
  --cb-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --cb-color-surface-dim: rgb(219 217 224);
  --cb-color-surface-bright: rgb(251 248 255);
  --cb-color-surface-container-lowest: rgb(255 255 255);
  --cb-color-surface-container-low: rgb(245 242 250);
  --cb-color-surface-container: rgb(239 237 244);
  --cb-color-surface-container-high: rgb(233 231 239);
  --cb-color-surface-container-highest: rgb(227 225 233);
}
