.cb-connect-login {
  max-width: 400px;
  container-type: inline-size;
}

.cb-login-hybrid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cb-login-hybrid-container .cb-p,
.cb-login-hybrid-container .cb-link-button {
  text-align: center;
}

.cb-login-init-signup {
  margin-top: 2rem;
}

.cb-login-header {
  text-align: center;
}

.cb-login-error-soft-icons,
.cb-login-error-hard-icons {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.cb-login-error-soft-text,
.cb-login-error-hard-text {
  margin: 1rem 0;
  text-align: center;
}

.cb-login-error-soft-fallback {
  margin-top: 1rem;
  text-align: center;
  color: var(--cb-color-secondary);
}

.cb-login-error-soft-button,
.cb-login-error-hard-button {
  width: 100%;
  background: var(--cb-color-primary);
}

.cb-login-error-hard-icons > * {
  width: 80px;
}

.cb-login-error-hard-fallback {
  margin-top: 1rem;
  width: 100%;
}

.cb-login-error-hard-button-help {
  color: var(--cb-color-secondary);
}

.cb-switch {
  margin-top: 1rem;
}

.cb-login-hybrid-icons {
  margin: 1rem 0;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  color: var(--cb-color-on-primary-container);
  border-radius: var(--cb-border-radius);
}

.cb-login-hybrid-icons {
  gap: 2rem;
}

.cb-login-hybrid-icons > * {
  width: 180px;
}

.cb-login-hybrid-cta {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cb-login-loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cb-login-loader {
  width: 50px;
  height: 50px;
}

.cb-passkey-button {
  padding: 1rem;
  background-color: white;
  color: var(--cb-color-on-primary);
  border-radius: var(--cb-border-radius);
  border: 1px solid var(--cb-color-outline);
  font-family: var(--cb-font-family-primary);
  width: 100%;
  display: flex;
  justify-items: between;
  align-items: center;
  gap: 1rem;
}

.cb-passkey-button-icon {
  width: 25px;
  height: 25px;
  color: black;
}

.cb-passkey-button-content {
  flex: 1;
  text-align: left;
}

.cb-passkey-button-title {
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
}

.cb-passkey-button-subtitle {
  color: var(--cb-color-primary);
  font-size: 0.8rem;
}

.cb-passkey-button-arrow {
  width: 9px;
  color: black;
}
