.cb-login-init-signup {
  margin: 0.5rem 0;
}

.cb-login-init-forgot-password {
  margin: 0.5rem 0;
}

.cb-login-error-hard-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.cb-login-error-hard-icons>* {
  width: 60px;
}

.cb-login-error-hard-fallback {
  margin: 0.5rem 0;
}

.cb-login-error-soft-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.cb-login-error-soft-icons>* {
  width: 60px;
  margin: 0.5rem;
  color: var(--cb-color-on-primary-container);
}

.cb-login-error-soft-fallback {
  margin: 0.5rem 0;
}

.cb-login__loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cb-login__loader {
  width: 50px;
  height: 50px;
}

.cb-login-init-passkey-button {
  width: 100%;
  margin: 1rem 0rem;
}

.cb-login-error-hard-icons-error {
  width: 32px;
  height: 32px;
  color: var(--cb-color-error);
}

.cb-login-error-hard-cta {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.cb-login-success-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: start;
}

.cb-login-success-icons>* {
  width: 60px;
}

.cb-login-success-icons-success {
  width: 32px;
  height: 32px;
  color: var(--cb-color-success);
}

@media screen and (max-width: 724px) {
  .cb-login-error-hard-cta {
    flex-direction: column-reverse;
  }
}