.cb-connect-passkey-list {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.cb-passkey-list-item {
  width: 100%;
  display: flex;
  border-radius: var(--cb-border-radius);
  border: 1px solid var(--cb-color-outline);
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  padding: 1rem 0;
  box-sizing: border-box;
}

.cb-modal {
  .cb-passkey-list-item {
    background: var(--cb-color-primary-container);
    padding: 1rem;
  }
}

.cb-passkey-list-item-icon-container {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-sizing: border-box;
  margin-top: 2px;
}

.cb-passkey-list-item-icon {
  color: black;
}

.cb-passkey-list-item-delete-icon {
  margin-top: 5px;
  margin-right: 5px;
  width: 12px;
  color: var(--cb-color-secondary);
}

.cb-passkey-list-item-content {
  flex: 1;
}

.cb-passkey-list-item-title {
  color: var(--cb-color-primary);
  font-size: 1.25rem;
  font-family: var(--cb-font-family-secondary);
  margin-bottom: 0.5rem;
}

.cb-passkey-list-item-details {
  color: var(--cb-color-secondary);
  font-size: 0.875rem;
}

.cb-tag {
  background-color: var(--cb-color-secondary-container);
  color: var(--cb-color-on-secondary-container);
  border-radius: var(--cb-border-radius);
  padding: 2px 4px;
  display: flex;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  font-size: 0.625rem;
  font-weight: bold;
}

.cb-passkey-list-item-tag-icon {
  width: 10px;
}

.cb-passkey-list-item-tags {
  display: flex;
  width: 100%;
  gap: 2px;
  flex-wrap: wrap;
}

.cb-passkey-list-item-header {
  display: flex;
  text-align: left;
  align-items: start;
  margin-bottom: 0.5rem;
  flex-direction: column;
  gap: 2px;
}

.cb-passkey-list-append-button {
  background-color: var(--cb-color-primary);
  border-radius: var(--cb-border-radius);
  color: var(--cb-color-on-primary);
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  width: fit-content;
  align-items: center;
  padding: 6px 10px;
}

.cb-passkey-list-append-button .loader {
  height: 15px;
  width: 15px;
}

.cb-passkey-list-append-icon {
  width: 10px;
}

.cb-passkey-list-loader-container {
  padding: 44px 0;
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cb-passkey-list-loader {
  width: 100px;
  height: 100px;
}

.cb-passkey-list-empty {
  width: 100%;
  color: var(--cb-color-on-primary-container);
  padding: 32px 44px;
  font-size: 1rem;
  min-height: fit-content;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .cb-passkey-list-item {
    gap: 1rem;
  }
}
