.cb-passkey-button {
  padding: 1rem;
  background-color: white;
  color: var(--cb-color-on-primary);
  border-radius: var(--cb-border-radius);
  border: 1px solid var(--cb-color-outline);
  font-family: var(--cb-font-family-primary);
  width: 100%;
  display: flex;
  justify-items: between;
  align-items: center;
  gap: 1rem;
}

.cb-passkey-button-icon {
  width: 25px;
  height: 25px;
  color: black;
}

.cb-passkey-button-content {
  flex: 1;
  text-align: left;
}

.cb-passkey-button-title {
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
  font-family: var(--cb-font-family-primary);
}

.cb-passkey-button-subtitle {
  color: var(--cb-color-secondary);
  font-size: 0.8rem;
  color: black;
  font-family: var(--cb-font-family-primary);
}

.cb-passkey-button-arrow {
  width: 9px;
  color: black;
}

.cb-passkey-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: auto;
  gap: 1rem;
}

.cb-passkey-list-item {
  width: 100%;
  display: flex;
  border-radius: var(--cb-border-radius);
  border: 1px solid var(--cb-color-outline);
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.cb-passkey-list-item-icon {
  width: 20px;
  color: black;
}

.cb-passkey-list-item-delete-icon {
  width: 15px;
  color: var(--cb-color-secondary);
}

.cb-passkey-list-item-content {
  flex: 1;
}

.cb-passkey-list-item-title {
  color: black;
  font-size: 1rem;
}

.cb-passkey-list-item-details {
  color: var(--cb-color-secondary);
  font-size: 0.875rem;
}

.cb-tag {
  background-color: var(--cb-color-secondary-container);
  padding: 2px 4px;
  color: var(--cb-color-on-secondary-container);
  display: flex;
  gap: 4px;
  border-radius: var(--cb-border-radius);
  width: fit-content;
  height: fit-content;
  font-size: 8px;
}

.cb-passkey-list-item-tag-icon {
  width: 10px;
}

.cb-passkey-list-item-tags {
  display: flex;
  width: 100%;
  gap: 2px;
}

.cb-passkey-list-item-header {
  display: flex;
  text-align: left;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.cb-passkey-list-append-button {
  display: flex;
  gap: 1rem;
  width: fit-content;
  align-items: center;
  background-color: var(--cb-color-primary);
  color: var(--cb-color-on-primary);
  border-radius: var(--cb-border-radius);
  padding: 6px 10px;
}

.cb-passkey-list-append-button .loader {
  height: 15px;
  width: 15px;
}

.cb-passkey-list-append-icon {
  width: 10px;
}

.cb-modal {
  z-index: 99999;
  top: 0px;
  left: 0px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.cb-modal-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
}

.cb-modal-content {
  position: relative;
  background-color: var(--cb-color-surface);
  border-radius: var(--cb-border-radius);
  padding: 2rem;
  border: 1px solid var(--cb-color-outline);
  width: 100%;
  max-width: 600px;
}

.cb-passkey-list-modal {
  text-align: left;
  gap: 1rem;
}

.cb-passkey-list-modal-title {
  font-size: 24px;
  color: var(--cb-color-primary);
  font-family: var(--cb-font-family-primary);
  text-align: left;
}

.cb-passkey-list-modal-description {
  font-size: 0.8rem;
  color: var(--cb-color-primary);
  margin-bottom: 2rem;
}

.cb-passkey-list-modal-button-cancel {
  flex: 1;
}

.cb-passkey-list-modal-button-submit {
  flex: 1;
}

.cb-passkey-list-modal-cta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.cb-passkey-list-loader-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cb-passkey-list-loader {
  width: 100px;
  height: 100px;
}

.cb-passkey-list-empty {
  width: 100%;
  text-align: center;
  color: var(--cb-color-secondary);
  font-size: 0.8rem;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.cb-width-full {
  width: 100%;
  max-width: none;
}

.cb-passkey-list-modal-exit-icon {
  width: 18px;
  height: 18px;
  color: var(--cb-color-primary);
  cursor: pointer;
}

.cb-passkey-list-modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cb-passkey-list-append-cta {
  border-top: 1px solid var(--cb-color-outline);
  padding: 1rem 0rem;
}

@media screen and (max-width: 600px) {
  .cb-passkey-list-item-delete-icon {
    width: 12px;
  }

  .cb-passkey-list-item {
    padding: 1rem;
    gap: 1rem;
  }

  .cb-passkey-list-item-header {
    flex-direction: column;
    align-items: start;
    gap: 2px;
  }
}