#conventional-login {
  display: none;
}

.conventional-login {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  background-color: var(--cb-white);
  box-sizing: content-box;
  padding: 0;
  text-align: left;
}

.input-field {
  margin: .5rem 1rem;
}

.cb-connect-container {
  --cb-color-primary: #80b816;
  --cb-border-radius: 5px;
  --cb-color-surface: #fff;

  .cb-primary-button {
    width: fit-content;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
    font-size: .8125rem;
    color: #fff;
    background-color: #80b816;
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    transition: background-color 250ms;
    display: inline-block;
    border: none;
    padding: 12px 40px 12px 10px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    position: relative;
    background-position: 100% 50%;

    background-image: url(data:image/svg+xml;charset%3DUS-ASCII;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiICB3aWR0aD0iMzZweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMzYgMTgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM2IDE4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTAuNzg1LDMuOTk2TDkuODAxLDQuOTg3bDMuNTM1LDMuNTYySDQuMDA5VjkuOTVoOS4zMjhsLTMuNTM1LDMuNTYzbDAuOTg0LDAuOTkxbDQuMjMxLTQuMjYzTDE2LDkuMjUgTDEwLjc4NSwzLjk5NnoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
  }

  .cb-primary-button:hover {
    background-color: #253544;
    color: #fff;
    text-decoration: none;
  }

  .cb-input {
    color: #666;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding: 13px 10px 15px;
    outline: none;
    float: left;
    clear: left;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition-property: color, background-color, border;
    -moz-transition-property: color, background-color, border;
    -o-transition-property: color, background-color, border;
    transition-property: color, background-color, border;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
  }
}

.component {
  width: 200px;
}
